<ion-navbar *navbar>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Grocery</ion-title>
</ion-navbar>

<ion-content class="grocery">
    <div *ngIf="grocery" class="selection">
        <ion-card>
            <img src="{{grocery.pic}}"/>
            <ion-card-content>
                <h2 class="card-title">
                    {{grocery.title}}
                </h2>
                <p>
                    {{grocery.description}}
                </p>
				<h2>BENEFITS</h2>
				<p>
					{{grocery.benefits}}
				</p>
            </ion-card-content>
			<ion-list radio-group stretch>
				<ion-item *ngFor="let price of grocery.prices" >
					<ion-radio [value]="price.size"></ion-radio>
					<ion-label small>{{price.size}} - Rs. {{price.price}}</ion-label>
				</ion-item>
			</ion-list>
			<ion-row no-padding>
				<ion-col >
					<ion-item>
						<ion-label floating>Quantity</ion-label>
						<ion-input type="text" ([value])="grocery.quantity">1</ion-input>
					</ion-item>
				</ion-col>
				<ion-col >
					<ion-item>
						<ion-label floating>Total Price</ion-label>
						<ion-input type="text" ([value])="grocery.quantity">1</ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
			
            <ion-row no-padding>
                <ion-col>
                    <button clear small >
                        <ion-icon name="star"></ion-icon>
                        Favorite
                    </button>
                </ion-col>
				<ion-col>
					<button rounded small outline right>
						<ion-icon name="cart"></ion-icon>
						Add to Cart
					</button>
				</ion-col>	
            </ion-row>
        </ion-card>
    </div>
</ion-content>