<ion-navbar *navbar>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{navigationComponent.Name}}</ion-title>
</ion-navbar>

<ion-content class="grocery">
		<ion-card *ngFor="let grocery of groceries" >
            <ion-row>
				<ion-col width-33>
					<ion-row>
						<img src="{{grocery.pic}}" (click)="itemTapped($event, grocery)"/>
					</ion-row>
					<ion-row>
						{{grocery.title}}
					</ion-row>
				</ion-col>
				<ion-col>
					<ion-row>
						<ion-list radio-group stretch>
							<ion-item *ngFor="let price of grocery.prices" >
								<ion-radio [value]="price.size"></ion-radio>
								<ion-label small>{{price.size}} - Rs. {{price.price}}</ion-label>
							</ion-item>
						</ion-list>
					</ion-row>
					<ion-row >
						<ion-col width-33>
							<ion-item>
								<ion-label floating>Quantity</ion-label>
								<ion-input type="text" ([value])="grocery.quantity">1</ion-input>
							</ion-item>
						</ion-col>
						<ion-col width-33>
							<ion-item>
								<ion-label floating>Total Price</ion-label>
								<ion-input type="text" ([value])="grocery.quantity">1</ion-input>
							</ion-item>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>
							<button clear small >
								<ion-icon name="star"></ion-icon>
								Favorite
							</button>
						</ion-col>
						<ion-col>
							<button rounded small outline right>
								<ion-icon name="cart"></ion-icon>
								Add to Cart
							</button>
						</ion-col>	
					</ion-row>
					
				</ion-col>
			</ion-row>	
        </ion-card>	
</ion-content>