<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Home</ion-title>
</ion-navbar>

<ion-content class="HomeTilesView">
	<ion-list>
	<ion-row >
		<ion-col *ngFor='let Tile of HomeTiles' [ngClass] ="Tile.Width"  (click)="itemTapped($event, Tile)"> 
			<ion-card [style.background]="Tile.Background" *ngIf="!(Tile.SlideDetails != null && Tile.SlideDetails.length > 0)" ink>
				<ion-icon [name]="Tile.IconPath" white larger></ion-icon>
				<div class="ion-card-subtitle">{{Tile.Name}}</div>
			</ion-card>
			<ion-slides [style.background]="Tile.Background" *ngIf="(Tile.SlideDetails != null && Tile.SlideDetails.length > 0)"  [options]="mySlideOptions" ink>
				<ion-slide *ngFor='let slide of Tile.SlideDetails' >
					
					<ion-icon [name]="slide.IconPath" white larger></ion-icon>
					 <p [innerHTML]="slide.Details"></p>
				</ion-slide>
			</ion-slides>
		</ion-col>
	</ion-row>
	</ion-list>
</ion-content>
