.HomeTilesView{

ion-card{
	position : relative;
	text-align : center;
	height : 150px;
	width : 100%;
	margin : 0 0 0 0;
}

ion-icon {
	position : relative;
	text-align : center;
	top: 25%;
	font-size: 4em;
	width : 100%;
}

ion-slides{
	position : relative;
	padding : 10 10 10 10; 
	text-align : center;
	height : 150px;
	width : 100%;
	
	ion-icon {
		top: 16%;
		font-size: 2em;
		width : 100%;
	}

	p {
		font-size: 0.60em;
		width : 100%;
		color: #fff;		
	}
}

.ion-card-title {
	position: absolute;
    top: 36%;
    font-size: 1.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
}

.ion-card-image {
	height : 150px;
}

.ion-card-subtitle {
    font-size: 0.75em;
    position: absolute;
	text-align : left;
    top: 82%;
	left : 10%;
    width: 100%;
    color: #fff;
}
 
ion-row {
  height: 100%;
  flex-wrap: wrap;
}

ion-col {
  flex: 0 0 100%;
  max-width: 50%;
  text-align: center;
}

.ion-col-fullwidth {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
}

.ion-col-onethird {
  flex: 0 0 100%;
  max-width: 33%;
  text-align: center;
}


.cell-1 {
  background-color: #C5DCFC;
}

img[class^="ion-"] {
  font-size: 8px;
}


}